/*!**************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./src/components/services/service.module.css ***!
  \**************************************************************************************************************************/
.service-module__services__AY9zf {

  padding: 40px 0;
}

.service-module__servicesGrid__eX2TG {

  width: 100%;
  gap: 20px;  
  display: flex;
  flex-wrap: wrap;                     
  justify-content: center; 
}

.service-module__serviceCard__Y99ZW {

  flex: 1 1 calc(25% - 20px);  
  box-sizing: border-box;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.service-module__serviceCard__Y99ZW img {
  width: 100%;
  border-radius: 12px;
  background-color: #f54b5e;
}

.service-module__serviceCard__Y99ZW h3 {
  margin-top: 12px;
  font-size: 22px;
  font-weight: 600;
}

.service-module__serviceCard__Y99ZW p {
  font-size: 18px;
  color: #555;
  margin: 10px 0 16px;
}

@media (max-width: 900px) {

  .service-module__serviceCard__Y99ZW {

    flex: 1 1 calc(50% - 20px); 
  }
}

@media (max-width: 450px) {

  .service-module__serviceCard__Y99ZW {

    flex: 1 1 calc(100% - 20px); 
  }
}
/*!*********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./src/components/price/price.module.css ***!
  \*********************************************************************************************************************/
/* price.css — подключи рядом с компонентом */
 /* :root{
  --brand-red:#f36b78;         
  --card-bg:#fff;
  --shadow:0 8px 24px rgba(0,0,0,.08);
  --radius:20px;
}  */

.price-module__priceCard__A5bjI{
  background:var(--card-bg);
  border-radius:var(--radius);
  box-shadow:var(--shadow);
  padding:18px;
}

.price-module__priceList__vHxFP{
  margin:0;
  padding:0 10px;
  list-style:none;
  border:1px solid #f0f0f0;
  border-radius:14px;
}

.price-module__priceRow__TYOll{
  display:flex;
  align-items:center;
  gap:12px;
  padding:12px 0;
}

.price-module__priceRow__TYOll + .price-module__priceRow__TYOll{
  border-top:1px dashed #eee;
}

.price-module__priceName__uveXw{
  flex:1 1 auto;
  font-size:16px;
}

.price-module__priceDots__KfaWf{
  flex:1 1 100%;
  height:1px;
  background-image:radial-gradient(#cfcfcf 1px, transparent 1px);
  background-size:6px 1px;
  background-repeat:repeat-x;
  background-position:left center;
}

.price-module__priceValue__A6_Sc{
  flex:0 0 auto;
  font-weight:800;
  letter-spacing:.2px;
  white-space:nowrap;
  color:#111;
}
/*!*****************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./src/styles/global.css ***!
  \*****************************************************************************************************/
.main__block {

margin: 0px 24px 0px 24px;
max-width: 1920px; 
width: 100%;
}

@media (max-width: 800px) {
  .main__block {

    margin: 0px 8px 0px 8px;
  }
}
